/*
import each file according to the order below:

1. abstracts/
2. base/
3. layout/
4. components/
5. pages/
6. themes/
*/
.row {
  display: flex;
}

.row.space-between {
  justify-content: space-between;
}

.abs-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.abs-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#homepage, #login, #create-account, #profile {
  animation-name: fade-in;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
}

@keyframes slide-in {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes toast-popup {
  0% {
    transform: translateY(200%);
  }
  15% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}
body {
  color: #2E3136;
}

h1, header {
  text-align: center;
  font-size: calc(1.75rem + 0.75 * ((100vw - 18.75rem) / 43.75) );
}

p {
  text-align: center;
  font-size: calc(1rem + 0.5 * ((100vw - 18.75rem) / 43.75) );
}

header {
  width: 100%;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  outline-color: #728ADC;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #F1F1F1;
  background: linear-gradient(45deg, #728ADC, #36393E);
}

.wrapper {
  box-sizing: border-box;
  min-height: max-content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  margin: 0;
  padding: 10px;
  color: #F1F1F1;
  background-color: inherit;
}

.wrapper.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 100%;
}

.wrapper.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}

form {
  box-sizing: border-box;
  width: max-content;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  margin: 0;
  margin-top: calc(0.25rem + 0.25 * ((100vw - 18.75rem) / 43.75) );
  margin-bottom: calc(0.625rem + 0.375 * ((100vw - 18.75rem) / 43.75) );
}
form input {
  max-width: 350px;
  width: calc(14.6875rem + 7.1875 * ((100vw - 18.75rem) / 43.75) );
  font-size: calc(0.875rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
  font-weight: bold;
}
form .rounded-border {
  padding: 0.625rem calc(0.5rem + 0.25 * ((100vw - 18.75rem) / 43.75) );
}
form button[id=submit] {
  align-self: flex-end;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px outset black;
  transition: background 0.4s;
}

.side-panel {
  display: none;
}

@keyframes panel-slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 46.875rem) {
  .side-panel {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 180px;
    max-width: 250px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 0.625rem 0.9375rem;
    box-shadow: 2px 0 1px #2E3136;
    color: #F1F1F1;
    background: rgba(46, 49, 54, 0.64);
    animation-name: panel-slide-in;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  .side-panel #all-categories {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1.25rem 0;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
    border-radius: 0.625rem;
    box-shadow: inset 2px 3px 2px black;
    border-right: none;
    background: none;
  }
  .side-panel .category-section-header {
    box-sizing: border-box;
    width: max-content;
    margin-bottom: 0.625rem;
    padding: 0 0.625rem;
    border-bottom: 1px solid #728ADC;
    text-align: center;
    font-weight: bold;
    color: #F1F1F1;
    font-size: calc(1rem + 0.25 * ((100vw - 18.75rem) / 43.75) );
  }
  .side-panel .category-channels-list {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: max-content;
    padding: 0.25rem 0.75rem;
    margin-top: 0;
  }
  .side-panel .category-title {
    box-sizing: border-box;
    display: inline-block;
    width: 90%;
    padding: 0;
    margin: 0 0 0 0.3125rem;
    font-weight: normal;
    text-align: left;
    color: #F1F1F1;
    font-size: calc(0.875rem + 0.25 * ((100vw - 18.75rem) / 43.75) );
  }
  .side-panel .channel {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0.3125rem 0 0.75rem 0;
    width: max-content;
    list-style: none;
    font-size: calc(0.875rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
    border-radius: 0.3125rem;
    padding: 0.125rem 0.5rem;
    margin-left: 2px;
    color: black;
    background: rgba(114, 139, 220, 0.788);
    box-shadow: 2px 2px 2px black;
    transition: background 0.25s;
  }
  .side-panel .channel::before {
    content: "#";
    position: absolute;
    top: 0;
    left: calc(-1rem + -0.125 * ((100vw - 18.75rem) / 43.75) );
    transform: translateY(-15%);
    font-size: 150%;
    font-weight: bold;
    color: #728ADC;
    text-shadow: 2px 2px 2px black;
    transition: color 0.25s;
  }
  .side-panel .channel:hover {
    background: #F1F1F1;
  }
  .side-panel .channel:hover::before {
    color: #F1F1F1;
  }
}
#login, #create-account {
  color: #F1F1F1;
  background: none;
}
#login form button[id=submit], #create-account form button[id=submit] {
  background-color: #00e5ff;
}
#login form button[id=submit]:hover, #create-account form button[id=submit]:hover {
  background-color: #F1F1F1;
}

.link-to {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px outset black;
  box-shadow: 1px 1px 2px black;
  font-weight: bold;
  outline-color: #728ADC;
  text-align: center;
  font-size: calc(0.875rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
}

.link-to-default {
  color: #F1F1F1;
  text-decoration-color: #00e5ff;
  font-style: italic;
}
.link-to-default:hover {
  color: #00e5ff;
}

.navigate.home {
  display: inline-block;
  margin: 0.9375rem;
}
.navigate.home::after {
  content: "Home";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-220%, 100%);
  font-size: calc(1.125rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
  font-weight: bold;
  color: #F1F1F1;
  background: none;
  transition: transform 0.4s;
}
.navigate.home img {
  display: inline-block;
  width: calc(3.125rem + 0.625 * ((100vw - 18.75rem) / 43.75) );
  height: auto;
  transition: transform 0.4s;
}
.navigate.home:hover::after {
  transform: translate(-50%, 100%);
}
.navigate.home:hover img {
  filter: invert(1);
  transform: rotateZ(-90deg);
}

input {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  margin: calc(0.25rem + 0.125 * ((100vw - 18.75rem) / 43.75) ) 0;
  padding: calc(0.875rem + 0.1875 * ((100vw - 18.75rem) / 43.75) ) calc(0.5rem + 0.25 * ((100vw - 18.75rem) / 43.75) );
  font-size: calc(0.875rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
  border: none;
  outline: none;
  background: none;
  color: #F1F1F1;
}

input::-webkit-input-placeholder {
  color: #F1F1F1;
  opacity: 0.7;
}

.rounded-border {
  border: 1px inset #1D2227;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px black;
}

.underline-border {
  position: relative;
  z-index: 0;
  border-bottom: 1px inset #1D2227;
}

#channel-messages-container {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1.25rem 0;
  border-radius: 0.3125rem;
  background: none;
  flex: 1 1 auto;
}

#channel-messages-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0;
  padding: 0.9375rem;
}
#channel-messages-list .channel-msg:nth-last-child(-n+3) {
  animation-name: slide-in;
  animation-duration: 0.85s;
  animation-timing-function: cubic-bezier(0.175, 0.985, 0.32, 1.275);
}

.channel-msg {
  box-sizing: border-box;
  list-style: none;
  border-radius: 0.3125rem;
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  flex: 0 1 auto;
}
.channel-msg .avatar {
  display: inline-block;
  width: 2.1875rem;
  height: auto;
  padding: 0.375rem;
  border-radius: 50%;
  background: #728ADC;
}
.channel-msg .msg {
  display: inline-block;
  padding: 0 0.625rem;
}
.channel-msg .msg.username {
  border-radius: 5px;
  padding: 0;
  margin: 0 10px 0 5px;
  font-weight: bold;
  color: #F1F1F1;
  font-size: calc(1rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
}
.channel-msg .msg.timestamp {
  padding: 0;
  opacity: 0.7;
  font-style: italic;
  font-size: 0.75rem;
}
.channel-msg .msg.text {
  max-width: 62.5rem;
  margin: 5px 0 0 10px;
  padding: 8px 12px;
  font-size: calc(0.875rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
  text-align: justify;
  border-radius: 2px 10px 10px 10px;
  background: rgba(46, 49, 54, 0.64);
}
.channel-msg .msg.text::first-letter {
  margin-left: 0.75rem;
}
.channel-msg hr {
  width: 100%;
}

.scrollbar::-webkit-scrollbar {
  width: 0.75rem;
  background: none;
}
.scrollbar::-webkit-scrollbar-track {
  background: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border: 1px solid #728ADC;
  background: inherit;
}
.scrollbar::-webkit-scrollbar-track-piece {
  background: none;
}
.scrollbar::-webkit-scrollbar-button {
  display: none;
  background: #2E3136;
  border: 1px solid #728ADC;
}

.notification {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.9375rem 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  transform: translateY(200%);
  font-size: calc(1rem + 0.5 * ((100vw - 18.75rem) / 43.75) );
  color: #F1F1F1;
  background: rgba(46, 49, 54, 0.64);
  animation-name: toast-popup;
  animation-timing-function: ease-out;
}

.notification.error, .notification.success {
  font-weight: bold;
  opacity: 0.85;
}

.notification.error {
  background: maroon;
  color: #F1F1F1;
}

.notification.success {
  background: #00e5ff;
  color: #2E3136;
}

.related-info {
  line-height: 180%;
  font-size: calc(0.875rem + 0.125 * ((100vw - 18.75rem) / 43.75) );
}

.toolbar {
  grid-area: toolbar;
  width: 100%;
  height: 1.875rem;
  padding: 0.3125rem 0;
  background: #2E3136;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.toolbar #current-user {
  align-self: flex-end;
  display: inline-block;
  height: 20px;
  margin: 0 0.75rem;
  font-size: calc(0.875rem + 0 * ((100vw - 18.75rem) / 43.75) );
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 1px black;
  /*
      &::before {
          $max-hashtag-space: pxToRem(-16px);
          $min-hashtag-space: pxToRem(-14px);
          
          content: '#';
          position: absolute;
          top: 0;
          left: fluid-value($min-vw, $max-vw, $min-hashtag-space, $max-hashtag-space);
          transform: translateY(-8%);
          
          font-size: 125%;
          font-weight: bold;
  
          text-shadow: 1px 1px 1px black;
  
          transition: color 0.25s;
  
      }
      */
}
.toolbar #channels-view-list-btn {
  background: none;
  width: 2.1875rem;
  height: auto;
  border: none;
  border-radius: 50%;
  padding: 0.125rem;
  margin-left: 0.5rem;
  transition: background 0.35s;
}
.toolbar #channels-view-list-btn img {
  display: block;
  width: 100%;
  height: auto;
}
.toolbar #channels-view-list-btn:hover img {
  filter: invert(50%) sepia(5%) saturate(4965%) hue-rotate(199deg) brightness(107%) contrast(98%);
}
.toolbar #logout-btn {
  min-width: max-content;
  width: 0.9375rem;
  height: auto;
  border-radius: 50%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.0625rem;
  margin: 0 0.5rem 0 auto;
  box-shadow: 1px 1px 1px black;
  background: #F1F1F1;
  transition: background 0.35s;
}
.toolbar #logout-btn img {
  display: block;
  width: 100%;
  height: auto;
}
.toolbar #logout-btn:hover {
  background: red;
}

#homepage {
  flex: 1 1 100%;
  background: linear-gradient(45deg, #728ADC, #36393E);
  color: #F1F1F1;
}
#homepage .link-to {
  color: #728ADC;
  background: #2E3136;
  transition: background 0.4s;
}
#homepage .link-to:hover {
  background: #728ADC;
  color: #2E3136;
}

#profile {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto 1fr;
  grid-template-areas: "toolbar toolbar" "sidepanel chatview";
}
#profile > .side-panel {
  grid-area: sidepanel;
}

#chat-view {
  grid-area: chatview;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 18.75rem;
  padding: 0.625rem 0.9375rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
#chat-view #channel-title {
  height: max-content;
  border-bottom: 1px solid #F1F1F1;
  text-shadow: 2px 2px 2px #2E3136;
}
#chat-view #channel-title h1 {
  text-align: left;
  margin: 0 0 5px 0;
  font-size: calc(1.75rem + 0.375 * ((100vw - 18.75rem) / 43.75) );
}
#chat-view #chat-input-container #chat-input-form {
  all: unset;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 1 auto;
  /*
  */
  background: rgba(46, 49, 54, 0.64);
  border: 1px inset #1D2227;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px black;
}
#chat-view #chat-input-container #chat-inputfield {
  max-width: unset;
  width: 100%;
  font-size: calc(0.875rem + 0.25 * ((100vw - 18.75rem) / 43.75) );
  background: none;
  border: none;
  box-shadow: none;
}
#chat-view #chat-input-container .chat-submit {
  display: inline-block;
  cursor: pointer;
  width: calc(2.5rem + 0.625 * ((100vw - 18.75rem) / 43.75) );
  height: auto;
}
#chat-view #chat-input-container .chat-submit:hover {
  filter: invert(50%) sepia(5%) saturate(4965%) hue-rotate(199deg) brightness(107%) contrast(98%);
}

/*# sourceMappingURL=main.css.map */
