
form {
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    @include flexbox( (column nowrap), center, center, (0 1 auto) );

    margin: 0;
    margin-top: fluid-value($min-vw, $max-vw, pxToRem(4px), pxToRem(8px) );
    margin-bottom: fluid-value($min-vw, $max-vw, pxToRem(10px), pxToRem(16px) );

    $input-padding-vertical: pxToRem(10px);
    $input-padding-horizontal: fluid-value($min-vw, $max-vw, pxToRem(8px), pxToRem(12px) );

    input {     
        max-width: 350px;
        width: fluid-value($min-vw, $max-vw, pxToRem(235px), pxToRem(350px) );
        
        @include fluid-type($min-vw, $max-vw, pxToRem(14px), pxToRem(16px) );
        font-weight: bold;        
    }

    .rounded-border {
        padding: $input-padding-vertical $input-padding-horizontal;
    }

    button[id='submit'] {
        align-self: flex-end;
        width: 100%;

        padding: 10px 0;
        margin-top: 10px;

        border-radius: 5px;
        border: 1px outset black;

        transition: background 0.4s;
    }
}


