.side-panel {
    display: none;
}

@keyframes panel-slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@media only screen and (min-width: pxToRem(750px)) {
    .side-panel {
        box-sizing: border-box;
        display: block;
        min-width: 180px;
        max-width: 180px;
    
        padding: 10px;
        box-shadow: 2px 0 1px $darkest;
        
        color: $light;
        background: $darkest-transparent;

        animation-name: panel-slide-in;
        animation-duration: 0.3s;
        animation-timing-function: linear;
    }
}