#login, #create-account {
    color: $light;
    background: none;

    form {      
        button[id='submit'] {
            background-color: $secondary;
        }
        
        button[id='submit']:hover {
            background-color: $light;
        }
    }
}