$input-padding-horizontal: fluid-value($min-vw, $max-vw, pxToRem(8px), pxToRem(12px) );
$input-padding-vertical: fluid-value($min-vw, $max-vw, pxToRem(14px), pxToRem(17px) ); //pxToRem(16px);

input {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    
    margin: fluid-value($min-vw, $max-vw, pxToRem(4px), pxToRem(6px) ) 0;
    padding: $input-padding-vertical $input-padding-horizontal;

    @include fluid-type($min-vw, $max-vw, pxToRem(14px), pxToRem(16px) );
        
    border: none;
    outline: none;
    background: none;
    color: $light;
}

input::-webkit-input-placeholder {
    color: $light;
    opacity: 0.7;
}

.rounded-border {
    border: 1px inset $blue-darkest;
    border-radius: 5px;

    //padding: $input-padding-vertical $input-padding-horizontal;

    box-shadow: inset 1px 1px 2px black;
}

.underline-border {
    position: relative;
    z-index: 0;
    border-bottom: 1px inset $blue-darkest;
}