.notification {
    box-sizing: border-box;
    width: 100%;
    height: auto;

    padding: pxToRem(15px) 0;
    margin: 0;

    position: fixed;
    bottom: 0;
    transform: translateY(200%); // to ensure it doesn't flash onto the page once the animation is done
    

    @include fluid-type($min-vw, $max-vw, pxToRem(16px), pxToRem(24px) );
    color: $light;
    background: $darkest-transparent;


    animation-name: toast-popup;
    animation-timing-function: ease-out;
}

.notification.error, .notification.success {
    font-weight: bold;
    opacity: 0.85;
}

.notification.error {
    background: maroon;
    color: $light;
}

.notification.success {
    background: $secondary;
    color: $darkest;
}



