.link-to {
    $max-link-font: pxToRem(16px);
    $min-link-font: pxToRem(14px);
    text-decoration: none;

    padding: 8px 16px;
    border-radius: 6px;
    
    border: 1px outset black;
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
    outline-color: $primary;
    
    text-align: center;
    @include fluid-type($min-vw, $max-vw, $min-link-font, $max-link-font);
}

.link-to-default {
    color: $light;
    text-decoration-color: $secondary;
    font-style: italic;

    &:hover {
        color: $secondary;
    }
}

.navigate.home {
    $min-img-width: pxToRem(50px);
    $max-img-width: pxToRem(60px);

    $min-font-size: pxToRem(18px);
    $max-font-size: pxToRem(20px);

    display: inline-block;
    margin: pxToRem(15px);

    &::after {
        content: 'Home';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-220%, 100%);

        @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
        font-weight: bold;

        color: $light;
        background: none;
        transition:  transform 0.4s;
    }

    img {
        display: inline-block;
        width: fluid-value($min-vw, $max-vw, $min-img-width, $max-img-width);
        height: auto;
        transition:  transform 0.4s;
    }

    &:hover {
        &::after {
            transform: translate(-50%, 100%);
        }
        
        img {
            filter: invert(1);
            transform: rotateZ(-90deg);
        }
    }
}
