.toolbar {
  grid-area: toolbar;
  width: 100%;
  height: pxToRem(30px);
  padding: pxToRem(5px) 0;

  background: $darkest;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  #logout {
    align-self: flex-start;
    all: unset;
    cursor: pointer;

    box-sizing: border-box;
    min-width: max-content;
    width: auto;
    min-height: pxToRem(25px);

    border-radius: 50%;
    
    border: 2px outset black;
    padding: pxToRem(2px);
    margin: 0 pxToRem(8px) 0 auto;

    box-shadow: 1px 1px 1px black;
    //background: none;
    background: $light;
    transition: background 0.35s;
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    &:hover {
        //background: $purple-accent;
        background: red;
    }
  }

  #current-user {
    $max-username-font: pxToRem(18px);
    $min-username-font: pxToRem(16px);

    align-self: flex-end;
    position: relative;
    display: inline-block;
    height: 20px;
    margin: 0 pxToRem(16px) 0 pxToRem(24px);

    @include fluid-type($min-vw, $max-vw, $min-username-font, $max-username-font);
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px black;

    &::before {
        $max-hashtag-space: pxToRem(-16px);
        $min-hashtag-space: pxToRem(-14px);
        
        content: '#';
        position: absolute;
        top: 0;
        left: fluid-value($min-vw, $max-vw, $min-hashtag-space, $max-hashtag-space);
        transform: translateY(-8%);
        
        font-size: 125%;
        font-weight: bold;

        text-shadow: 1px 1px 1px black;

        transition: color 0.25s;

    }
}

}