$light: #F1F1F1;
$blue: #08AEFF;
$blue-accent: #2BB8FC;
$green-accent: #69F0AE;

$blue-darkest: #1D2227;
$blue-dark: #242A2F;

//discord colors
$darkest: #303134;
$dark: #3C3D43;
$main: #4A4B51;

//new theme
$blue: #2196F3;
$green-accent: #82B1FF; 

$primary: #90caf9;
$primary-variant: #5d99c6;
$secondary: #00e5ff;
$secondary-variant: #00bbcf;
