$light: #F1F1F1;
$blue: #08AEFF;
$blue-accent: #2BB8FC;
$green-accent: #69F0AE;

$blue-darkest: #1D2227;
$blue-dark: #242A2F;

//discord colors
$dark: #36393E;
$dark-transparent: rgba(46, 49, 54, 0.5);

$darkest: #2E3136;
$darkest-transparent: rgba(46, 49, 54, 0.64);

$main: #424549;

$purple-accent: #728ADC;
$purple-accent-transparent: rgba(114, 139, 220, 0.788);
$purple-filter: invert(50%) sepia(5%) saturate(4965%) hue-rotate(199deg) brightness(107%) contrast(98%);

//new theme
$blue: #2196F3;

//$primary: #90caf9;
$primary: #728ADC;
$primary-variant: #5d99c6;
$secondary: #00e5ff;
$secondary-variant: #00bbcf;

$primary-gradient: linear-gradient(45deg, $primary, $dark);
