#profile {
    box-sizing: border-box; 
    height: 100%;
    width: 100%;
    //@include flexbox( (row nowrap), flex-start, stretch, (1 1 auto));
    //change #profile to a css-grid to incorporate titlebar
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto 1fr;
    grid-template-areas: "toolbar toolbar"
                         "sidepanel chatview";
    

    > .side-panel {
        grid-area: sidepanel;
    }
}

#chat-view {
    grid-area: chatview;

    box-sizing: border-box;
    @include size(100%);
    min-width: pxToRem(300px);
    padding: pxToRem(10px) pxToRem(15px);
    
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;


    #channel-title {
        height: max-content;
        border-bottom: 1px solid $light;
        text-shadow: 2px 2px 2px $darkest;

        h1 {
            $max-header-font: pxToRem(34px);
            $min-header-font: pxToRem(28px);

            text-align: left;
            margin: 0 0 5px 0;
            @include fluid-type($min-vw, $max-vw, $min-header-font, $max-header-font);
        }
    }

    #chat-input-container {
        #chat-input-form {
            all: unset;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            flex: 1 1 auto;
            
            /*
            */
            background: $darkest-transparent;
            border: 1px inset $blue-darkest;
            border-radius: 5px;

                
            box-shadow: inset 1px 1px 2px black;
        }
        #chat-inputfield {
            max-width: unset;
            width: 100%;
            @include fluid-type($min-vw, $max-vw, pxToRem(14px), pxToRem(18px) );
            //background: $darkest-transparent;
            background: none;
            border: none;
            box-shadow: none;
        }

        .chat-submit {
            display: inline-block;
            cursor: pointer;
            width: fluid-value($min-vw, $max-vw, pxToRem(40px), pxToRem(50px) );
            height: auto;
            
            &:hover {
                filter: $purple-filter;
            }
        }
    }
}