#create-account {
    background-color: $primary;
    background: linear-gradient(45deg, $primary, $primary-variant);
    color: $darkest;

    form {
        input {
            color: $darkest;
            font-weight: bold;
            //background: $dark;
        }

        input::-webkit-input-placeholder {
            color: gray;
        }

        button[id='submit'] {
            background-color: $secondary;
        }

        button[id='submit']:hover {
            background-color: $secondary-variant;
        }
    }
}