#homepage {
    flex: 1 1 100%;

    color: $darkest;
    background: $primary;

    .link-to {
        background: $darkest;
        color: $primary;

        transition: background 0.4s;

        &:hover {
            background: $primary-variant;
            color: $darkest;
        }
    }
}
