#homepage {
    flex: 1 1 100%;

    background: linear-gradient(45deg, $primary, $dark);
    color: $light;

    .link-to {
        color: $primary;
        background: $darkest;
        transition: background 0.4s;

        &:hover {
            background: $primary;
            color: $darkest;
        }
    }
}
